<!-- html과 ejs 차이
html파일인데 살짝 ejs문법 써서 서버데이터를 넣을수있음 -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    <%- include('bootstrap.ejs') %> 


    <!-- <%= JSON.stringify(글목록) %> -->
    <div class="white-bg">
        <% for (let i=0; i<글목록.length; i++) { %>
            <div class="list-box">
                <h4><a href="/detail/<%= 글목록[i]._id %>">
                    <%= 글목록[i].title %></a>
                    <a href="/edit/<%= 글목록[i]._id %>">✏️</a>
                    <span class="delete">🗑️</span>

                    <!-- <form action="/delete" method="post">
                        <span><button type="submit">삭제</button></span>
                    </form> -->
                    
                </h4>
                <p>글내용임</p>
            </div>
        <% } %>
    </div> 

    <script>
        
        document.querySelectorAll('.delete')[0].addEventListener('click', function() {
            fetch('/delete?docid=<%= 글목록[0]._id %>', {
                method : 'DELETE'
            })
        })
        document.querySelectorAll('.delete')[0].addEventListener('click', function() {
            fetch('/abc?age=23')
        })
    </script>

</body>
</html>